---
export interface Props {
  station?: string;
}

import "@fontsource-variable/jetbrains-mono/wght.css";
import "@styles/global.css";

import Footer from "@components/Footer.astro";
import Nav from "@components/Nav.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import { SEO } from "astro-seo";
import { ClientRouter } from "astro:transitions";

const [siteTitle, seoSiteTitle, seoSiteDescription] = (() => {
  switch (Astro.currentLocale) {
    case "en":
      return [
        Astro.props.station
          ? `${Astro.props.station} YouBike station history`
          : "Cha Bike",
        Astro.props.station
          ? `Cha Bike: Live & Historical Status for ${Astro.props.station} YouBike Station`
          : "Cha Bike: Real-Time YouBike Availability & History Tracker",
        Astro.props.station
          ? `View real-time availability for bikes and docks at ${Astro.props.station} YouBike station, along with historical trends showing when bikes or docks tend to run out.`
          : "Cha Bike lets you track the live status of any YouBike station and analyze historical data to see when bikes or docks are most often unavailable.",
      ];
    default:
      return [
        Astro.props.station
          ? `${Astro.props.station} 的站點歷史`
          : "查 Bike",
        Astro.props.station
          ? `查 Bike：${Astro.props.station} YouBike 即時狀態與歷史紀錄`
          : "查 Bike：YouBike 即時狀態與歷史資料查詢",
        Astro.props.station
          ? `${Astro.props.station} YouBike 站點目前車位與可借數量一目了然，並提供歷史資料分析每天何時最容易沒車可借、沒位可還。`
          : "查 Bike 幫你查看各 YouBike 站點目前的可借與可還狀態，並分析歷史資料，找出每天最容易沒車沒位的時段。",
      ];
  }
})();
---

<html
  lang={Astro.currentLocale === "en" ? "en-US" : "zh-Hant"}
  transition:name="root"
  transition:animate="none"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>{siteTitle}</title>
    <SEO
      description={seoSiteDescription}
      charset="UTF-8"
      openGraph={{
        basic: {
          title: seoSiteTitle,
          type: "website",
          image: "https://youbike.wolf-yuan.dev/favicon.png",
        },
      }}
      twitter={{
        title: seoSiteTitle,
        description: seoSiteDescription,
        card: "summary",
        site: "@wolfyuan1135",
        image: "https://youbike.wolf-yuan.dev/favicon.png",
      }}
    />

    <ClientRouter />
  </head>
  <body class="bg-gray-900 text-gray-50">
    <div class="flex min-h-screen flex-col">
      <Nav />

      <div
        class="mx-auto mb-auto w-screen max-w-7xl"
        transition:name="content"
        transition:animate="fade"
      >
        <div class="mx-7">
          <slot />
        </div>
      </div>

      <Footer class="place-self-end" />
    </div>

    {/* Hacky way to fix scrollbar theme */}
    <style>
      :root {
        color-scheme: dark;
      }

      @keyframes astroFadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      @keyframes astroFadeOut {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
    </style>

    <SpeedInsights />
  </body>
</html>
