---
export interface Props {
  station?: string;
}

import "@fontsource-variable/jetbrains-mono/wght.css";
import "@styles/global.css";

import Footer from "@components/Footer.astro";
import Nav from "@components/Nav.astro";
import { SEO } from "astro-seo";
import { ClientRouter } from "astro:transitions";

const siteTitle = Astro.props.station
  ? `${Astro.props.station} 的站點歷史`
  : "查 Bike";
const seoSiteTitle = Astro.props.station
  ? `查 Bike：${Astro.props.station} YouBike 站點即時狀態與歷史紀錄`
  : "查 Bike：YouBike 站點即時與歷史紀錄查詢";
const seoSiteDescription = Astro.props.station
  ? `${Astro.props.station}的 YouBike 站現在可以借車還車嗎？你可以在這個網站上面看看這個 YouBike 站點是不是每天到某個時刻就沒車！`
  : "你遇過一個 YouBike 的站點沒有任何一臺 YouBike 嗎？你可以在這個網站上面看看你的 YouBike 站點是不是每天到某個時刻就沒車！";
---

<html
  lang={Astro.currentLocale === "en" ? "en" : "zh-Hant"}
  transition:name="root"
  transition:animate="none"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>{seoSiteTitle}</title>
    <SEO
      description={seoSiteDescription}
      charset="UTF-8"
      openGraph={{
        basic: {
          title: seoSiteTitle,
          type: "website",
          image: "https://youbike.wolf-yuan.dev/favicon.png",
        },
      }}
      twitter={{
        title: seoSiteTitle,
        description: seoSiteDescription,
        card: "summary",
        site: "@wolfyuan1135",
        image: "https://youbike.wolf-yuan.dev/favicon.png",
      }}
    />

    <ClientRouter />
  </head>
  <body class="bg-gray-900 text-gray-50">
    <div class="flex min-h-screen flex-col">
      <Nav />

      <div
        class="mx-auto mb-auto w-screen max-w-7xl"
        transition:name="content"
        transition:animate="fade"
      >
        <div class="mx-7">
          <slot />
        </div>
      </div>

      <Footer class="place-self-end" />
    </div>

    {/* Hacky way to fix scrollbar theme */}
    <style>
      :root {
        color-scheme: dark;
      }

      @keyframes astroFadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      @keyframes astroFadeOut {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
    </style>
  </body>
</html>
