---
import StationCard from "@components/StationCard.astro";
import { en as enArea, zh as zhArea } from "@lib/stationCity";
import { supabase } from "@lib/supabase";
import fullLocale from "./locales";

import { formatMinuteCount } from "@lib/formatter.ts";
import { Icon } from "astro-icon/components";
import clsx from "clsx";

const locale = fullLocale[Astro.currentLocale ?? "zh-TW"];

const [stationDataRes, historicalDataRes] = await Promise.all([
  supabase
    .from("current")
    .select("*, station_id(*)")
    .order("station_id"),
  supabase.rpc("get_history_with_limit", { max_rows: 3 }),
]);

const stationData = stationDataRes.data;
const historicalData = historicalDataRes.data;

if (!stationData || !historicalData) {
  throw new Error("Failed to fetch data from Supabase");
}

const historicalDataMap = new Map();
if (historicalData) {
  for (const item of historicalData) {
    const stationId = item.station_id;
    if (!historicalDataMap.has(stationId)) {
      historicalDataMap.set(stationId, []);
    }
    historicalDataMap.get(stationId).push(item);
  }
}

let hasEmpty = false;
let hasFull = false;
let totalUnavailable = 0;
let totalFull = 0;
let emptyStations = 0;
let fullStations = 0;
let totalBikes = 0;
const stationCount = stationData?.length ?? 0;

if (stationData) {
  for (const station of stationData) {
    if (station.status === "EMPTY") {
      hasEmpty = true;
      emptyStations++;
    }
    if (station.status === "FULL") {
      hasFull = true;
      fullStations++;
    }
    totalUnavailable += station.unavailable;
    totalFull += station.full;
    totalBikes += station.bikes;
  }
}

const heroStatus: {
  color: string;
  icon: string;
  text: string;
} = {
  color: "",
  icon: "",
  text: "",
};

if (hasEmpty) {
  heroStatus.color = "text-red-400";
  heroStatus.icon = "fa7-regular:angry";
  heroStatus.text = locale["dynamic:hasEmpty"];
} else if (hasFull) {
  heroStatus.color = "text-yellow-400";
  heroStatus.icon = "fa7-regular:sad-cry";
  heroStatus.text = locale["dynamic:hasFull"];
} else {
  heroStatus.color = "text-emerald-400";
  heroStatus.icon = "fa7-regular:face-smile";
  heroStatus.text = locale["dynamic:normal"];
}

const groupedStations = Object.groupBy(stationData, (k) =>
  k.station_id.id.toString().substring(2, 4),
);
const areaName = Astro.currentLocale === "zh-TW" ? zhArea : enArea;
const lastUpdate =
  new Date().getTime() - new Date(stationData[0].update).getTime();
---

<main class="py-16">
  {
    lastUpdate > 70 * 1000 && (
      <div
        class="mx-auto mb-18 flex max-w-4xl flex-col items-center justify-center gap-4 rounded-lg border border-yellow-400 bg-gray-800 px-6 py-4 text-center text-yellow-300"
        transition:name="warning"
      >
        <p class="font-bold">{locale["warning:title"]}</p>
        <p>
          {locale["warning:duration"] +
            formatMinuteCount(Math.round(lastUpdate / 1000 / 60), Astro.currentLocale)}
        </p>
      </div>
    )
  }

  <div class="text-center">
    <div class="mb-8">
      <Icon
        name={heroStatus.icon}
        class={clsx("mx-auto text-8xl md:text-9xl", heroStatus.color)}
        transition:name="emoji"
      />
    </div>

    <div class="mx-auto space-y-6">
      <h1
        class="text-3xl leading-tight font-bold md:text-4xl"
        set:html={heroStatus.text}
        transition:name="hero"
      />
      <p class="text-lg text-gray-400" transition:name="subtitle">
        {locale["hero:subtitle"]}
      </p>

      <div
        class="inline-flex items-center rounded-full bg-gray-800/50 px-4 py-2 text-sm text-gray-300"
      >
        <Icon
          name="material-symbols:pedal-bike-outline-rounded"
          class="mr-2 text-lg"
        />
        {locale["tracking:pre"]}
        <span class="mx-1 font-semibold text-white"
          >{stationCount}</span
        >
        {locale["tracking:post"]}
      </div>
    </div>
  </div>

  <div class="mt-8">
    <div class="mx-auto grid max-w-4xl gap-6 md:grid-cols-3">
      <div
        class="relative -z-20 space-y-2 overflow-hidden rounded-lg border-2 border-gray-600 bg-gray-800 px-6 py-4"
        transition:name="summary:left"
      >
        <div class="space-y-2 pr-8">
          <p class="text-2xl font-bold">
            {emptyStations}
            {locale["summary:empty:quantifier"]}
          </p>

          <p class="font-bold text-gray-400">
            {locale["summary:empty:text"]}
          </p>
        </div>

        <div class="absolute -right-4 -bottom-4 -z-10">
          <Icon
            name="fa7-regular:sad-cry"
            class="text-[5rem] text-gray-600"
          />
        </div>
      </div>

      <div
        class="relative -z-20 space-y-2 overflow-hidden rounded-lg border-2 border-gray-600 bg-gray-800 px-6 py-4"
        transition:name="summary:mid"
      >
        <div class="space-y-2 pr-8">
          <p class="z-10 text-2xl font-bold">
            {fullStations}
            {locale["summary:full:quantifier"]}
          </p>

          <p class="z-10 font-bold text-gray-400">
            {locale["summary:full:text"]}
          </p>
        </div>

        <div class="absolute -right-4 -bottom-4 -z-10">
          <Icon
            name="fa7-regular:face-dizzy"
            class="text-[5rem] text-gray-600"
          />
        </div>
      </div>

      <div
        class="relative -z-20 space-y-2 overflow-hidden rounded-lg border-2 border-gray-600 bg-gray-800 px-6 py-4"
        transition:name="summary:right"
      >
        <div class="space-y-2 pr-8">
          <p class="z-10 text-2xl font-bold">
            {totalBikes}
            {locale["summary:bikes:quantifier"]}
          </p>

          <p class="z-10 font-bold text-gray-400">
            {locale["summary:bikes:text"]}
          </p>
        </div>

        <div class="absolute -right-4 -bottom-4 -z-10">
          <Icon
            name="fa7-regular:face-laugh"
            class="text-[5rem] text-gray-600"
          />
        </div>
      </div>
    </div>
  </div>
</main>

<section class="mx-auto my-6 max-w-4xl">
  <div class="mt-10 space-y-4">
    {
      Object.entries(groupedStations)
        .sort(([a], [b]) => Number(a) - Number(b))
        .map(([areaCode, stations]) => (
          <div class="my-8">
            <h2 class="mb-4 border-b border-gray-600 pb-1 text-2xl font-bold">
              {areaName[areaCode as keyof typeof areaName] ??
                areaCode}
            </h2>
            <div class="space-y-3">
              {stations?.map((station) => (
                <StationCard
                  station={station}
                  history={
                    historicalDataMap.get(station.station_id.id) ?? []
                  }
                />
              ))}
            </div>
          </div>
        ))
    }
  </div>
</section>

<section class="py-16">
  <div class="mx-auto w-fit rounded-lg bg-gray-800 px-8 py-6">
    <p class="pb-2 text-center text-xl font-semibold md:text-2xl">
      {locale["info:title"]}
      <a
        href="https://wolf-yuan.dev"
        class="underline decoration-gray-500 decoration-dotted underline-offset-4 transition-colors duration-100 hover:decoration-white"
        target="_blank"
      >
        Wolf Yuan
      </a>
    </p>
    <p class="pb-6 text-center">
      {locale["info:subtitle"]}
    </p>

    <div
      class="flex flex-col place-items-center justify-center gap-4 text-gray-400 md:flex-row"
    >
      <p>
        <a
          href="https://w.wolf-yuan.dev/chabike/form"
          class="underline decoration-gray-500 decoration-dotted underline-offset-4 transition-colors duration-100 hover:decoration-white"
          target="_blank"
        >
          {locale["info:add"]}
        </a>
      </p>
      <p>
        <a
          href={Astro.currentLocale === "zh-TW"
            ? "https://wolf-yuan.dev/zh-tw/blog/cha-bike/"
            : "https://wolf-yuan.dev/blog/cha-bike/"}
          class="underline decoration-gray-500 decoration-dotted underline-offset-4 transition-colors duration-100 hover:decoration-white"
          target="_blank"
        >
          {locale["info:blog"]}
        </a>
      </p>
    </div>
  </div>
</section>
