---
import HistoryBar from "@components/HistoryBar.astro";
import { type Enums, type Tables } from "@lib/database.types";
import { formatMinuteCount } from "@lib/formatter";
import { Icon } from "astro-icon/components";
import dayjs from "dayjs";
import timezone from "dayjs/plugin/timezone";
import utc from "dayjs/plugin/utc";
import { type ClassNameValue, twMerge } from "tailwind-merge";

dayjs.extend(utc);
dayjs.extend(timezone);

export interface Props {
  station: Tables<"current"> & { station_id: Tables<"stations"> };
  history: Tables<"history">[];
}

const stationColor: Record<Enums<"station_state">, ClassNameValue> = {
  NORMAL: "border-green-400",
  EMPTY: "border-red-400",
  FULL: "border-yellow-400",
};
const stationBackground: Record<
  Enums<"station_state">,
  ClassNameValue
> = {
  NORMAL: "bg-green-400",
  EMPTY: "bg-red-400",
  FULL: "bg-yellow-400",
};
const stationText: Record<Enums<"station_state">, ClassNameValue> = {
  NORMAL: "可借可還",
  EMPTY: "可借數量 <5",
  FULL: "可還空位 <3",
};

const { station, history } = Astro.props;

const processedHistory = history.map((h) => ({
  at: dayjs.utc(h.at).tz("Asia/Taipei").format(),
  available: h.available,
  empty: h.empty,
}));
---

<div
  class={twMerge(
    "cursor-pointer rounded-lg border-2 bg-gray-800 px-6 py-4",
    stationColor[station.status],
  )}
  x-data="{ open: false }"
  x-on:click="open = !open"
>
  <div class="flex flex-col items-center gap-4 md:flex-row">
    <div class="flex w-full place-items-center gap-4">
      <p class="text-xl font-semibold">
        {station.station_id.name}
      </p>
      <p
        class={twMerge(
          "text-gray-900 rounded-full text-xs px-2 py-1",
          stationBackground[station.status],
        )}
      >
        {stationText[station.status]}
      </p>
    </div>

    <div
      class="flex w-full grow place-items-center gap-4 md:justify-end"
    >
      <p class="text-xs text-gray-400">
        可借 {station.bikes} 臺，可還 {station.slots} 位
      </p>
      <div
        class="h-1.5 grow rounded-full bg-gray-600 md:w-[50%] md:grow-0"
      >
        <div
          class={twMerge(
            "h-1.5 rounded-full",
            stationBackground[station.status],
          )}
          style={{
            width: `${(station.bikes / (station.bikes + station.slots)) * 100}%`,
          }}
        >
        </div>
      </div>
      <Icon
        name="material-symbols:add-rounded"
        class="text-xl transition-transform duration-200 motion-reduce:transition-none"
        :class="{'rotate-[405deg]': open}"
      />
    </div>
  </div>

  <div x-show="open" x-collapse>
    <div class="pt-4">
      <div class="border-t border-gray-500 pb-4"></div>
      <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="space-y-2">
          <p>
            位於 <span class="font-bold"
              >{station.station_id.address}</span
            >
          </p>
          <p>
            總共有 <span class="font-bold"
              >{station.station_id.total}</span
            > 個車位
          </p>
          <p>
            總追蹤時數 <span class="font-bold"
              >{formatMinuteCount(station.success)}</span
            >
          </p>
        </div>

        <div class="my-4 flex gap-4 md:my-0 md:justify-end">
          <div class="space-y-1.5">
            <p class="text-4xl font-bold md:text-right md:text-5xl">
              {
                Math.round(
                  (station.unavailable / station.success) * 10000,
                ) / 100
              }%
            </p>
            <p class="text-sm text-gray-400">的時間 <5 臺車可以借</p>
          </div>
          <div class="space-y-1.5">
            <p class="text-4xl font-bold md:text-right md:text-5xl">
              {Math.round((station.full / station.success) * 100)}%
            </p>
            <p class="text-sm text-gray-400">的時間 <3 位可還</p>
          </div>
        </div>
      </div>

      <div class="divide-y divide-gray-500 rounded-sm md:my-2">
        {history.map((k) => <HistoryBar history={k} />)}
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2">
        <div>
          <p class="text-sm text-gray-500">
            即時車數最後更新：<span class="font-bold"
              >{
                dayjs
                  .utc(station.update)
                  .tz("Asia/Taipei")
                  .format("YYYY/MM/DD HH:mm:ss")
              }</span
            >
          </p>
          <p class="text-sm text-gray-500">
            站點 ID：<span class="font-bold"
              >{station.station_id.id}</span
            >
          </p>
          <p class="text-sm text-gray-500">
            站點總容量視現場狀況而定
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
